.cartwidget {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;

  .cart {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: white;
  }

  p {
    margin: 0;
    text-align: center;
    height: auto;
    color: #EC69A6;
    transform: translate(1px, 7px);

  }
}