.tituloseccion {
  padding: 1rem 0;
}

.productos {
  background-color: #ebebeb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin-top: 1rem;
  gap: 1rem;
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;

}