.contenedor {

  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
  border-radius: 6px;
  justify-content: space-around;
  gap: 1rem;

  &__name {
    padding: 0.5rem 0.9rem 0 0;
    color: black
  }

  &__description {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin: 0;
    overflow: hidden;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    padding-right: 1rem;
    color: black;
  }

  &__price {
    font-size: 1.5rem;
    color: black;
  }

  &__descount {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .descount-percentage {
      color: white;
      background-color: #EC69A6;
      ;
      margin-top: 0.5rem;
      text-wrap: nowrap;
      width: 100%;
      text-align: center;
      border-radius: 3px;
      margin-bottom: 0;
      padding: 0 0.5rem;
    }

    .original-price {
      text-align: center;
      margin-top: 0.5rem;
      text-decoration: line-through;
      color: black;
    }



  }

  &__delivery {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    color: #001aff;


  }



  div {
    width: 50%;

  }

  img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    padding: 1rem;

  }

}