.related-products {
  background-color: white;
  padding: 1rem 1.5rem 2rem 1.5rem;


  &-title {
    margin: 2rem 0;


  }
}

.swiper-slide {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}